
<div class="home__container"> 
  <h1>List Characters </h1>
  <div class="container__cards">
    <div class="character__card" *ngFor="let character of listCharacters"> 
      <div class="favorite__character click"><i class="fa-solid fa-star"></i></div><img [src]="character.image" [alt]="character.name">
      <p>Name : {{ character.name }}</p>
      <p>Status : {{ character.status }}</p>
      <p>Species : {{ character.species  }}</p>
      <p class="click" (click)="getIdLocation(character.location.url)">Location : {{ character.location.name }}</p>
      <p class="last">Last Episode : {{ getLastEp(character.episode) }}</p>
      <button (click)="navigate('/character/'+ character.id)">
        <p>More detail</p>
      </button>
    </div>
  </div>
</div>