html {
	box-sizing: border-box;
	font-family: 'Outfit';
}
body {
	margin: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
p {
	margin: 0;
}

.container__primary {
	max-width: 1300px;
	margin: 0 auto;
}

.click {
	cursor: pointer;
}

.container__header {
	display: flex;
	align-items: center;
	gap: 15px;
	i {
		background-color: rgb(212, 212, 212);
		padding: 10px;
		border-radius: 50%;
		font-size: 25px;
		cursor: pointer;
	}
}

.btn {
	background-color: #8b9a46;
	border: none;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	font-family: 'Outfit';
	font-size: 18px;
	cursor: pointer;
	transition: ease-in-out 0.3s all;
	&:hover {
		background-color: #77853c;
		transition: ease-in-out 0.3s all;
	}
}
